{% block content %}
<div class="container">
    <h2>Your Groups</h2>
    <a href="{% url 'creategroup' %}" class="btn btn-primary">Create New Group</a>
    <hr>
    {% if user_groups %}
        <div class="list-group">
            {% for group in user_groups %}
                    <h5 class="mb-1">{{ group.name }}</h5>
                    <p class="mb-1">{{ group.description }}</p>
                    <small>Created by: {{ group.created_by.all|join:", " }}</small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not created or joined any groups yet.</p>
    {% endif %}
</div>
{% endblock %}