<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My groups</title>
</head>
<body>
    <h2>Group List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for group in usergroup %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>