<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!--{% if request.user.is_staff and request.user.group1 %}-->

    <!--{% endif %}-->
    <h2>Task List</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Deadline</th>
          w
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.complete }}</td>
          <td>{{ task.created }}</td>
          <td>{{ task.deadline }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script src="{% static 'js/anm.js' %}"></script>
</html>
