{% block content %}

    <div class="card-body">
      <p><strong>Username:</strong> {{ user.username }}</p><br><br>
        <p><strong>Pic:</strong> {{ form.profile_pic }}</p><br><br>
        <p><strong>Bio:</strong> {{ form.bio }}</p><br><br>
        <p><strong>Rank:</strong> {{ form.title }}</p><br><br>
      <p><strong>Score:</strong> {{ form.score }}</p><br><br>

    <a href="{% url 'editprofile' %}">Edit</a>
        <br><br>
        <a href="{% url 'groups' %}">Your Groups</a>
        <br><br>
    <hr>
    <h3>Groups you're in</h3>
    {% if user_groups %}
        <div class="list-group">
            {% for group in user_groups %}
                <a class="list-group-item list-group-item-action">
                    {{ group.name }}
                </a>
            <a href="{% url 'group_tasks' group.id %}">View Tasks</a>
            {% endfor %}
        </div>
    {% else %}
        <p>You are not part of any groups yet.</p>
    {% endif %}
        <h3>Your Achievements</h3>
{% if user_achievements %}
    <ul>
        {% for achievement in user_achievements %}
            <li>
                <h4>{{ achievement.title }}</h4>
                <p>{{ achievement.description }}</p>
                <p>{{ achievement.weight }}</p>
                <!-- Include other fields as needed -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no achievements yet.</p>
{% endif %}

    </div>

{% endblock content %}